<%= form_with(model: ppost, local: true) do |form| %>
  <% if ppost.errors.any? %>
    <div id="error-explanation" style="color: red" class="mb-3">
      <h2><%= pluralize(ppost.errors.count, "error") %> prohibited this ppost from being saved:</h2>

      <ul>
        <% ppost.errors.full_messages.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br>
<form>
        <br>
        <div class="field form-group ">
          <%= form.label :name, style: "display: block" %>
          <%= form.text_field :name,class:"form-control",placeholder:"Name" %>
        </div>
        <br>
        <div class="field form-group">
          <%= form.label :title, style: "display: block" %>
          <%= form.text_field :title,class:"form-control",placeholder:"Title" %>
        </div>
        <br>
        <div class="field form-group">
          <%= form.label :body, style: "display: block" %>
          <%= form.text_area :body,class:"form-control",placeholder:"Body" %>
        </div>
        <br>
  <br>
        <div class="action">
          <%= form.submit class:'btn btn-dark'%>
        </div>
      <% end %>
</form>